{
	// Specify to save DB in memory
	"inMemoryDB": false,
	// Time, as cron format, where we should run the daily tasks
	"interventionTime": "30 0 * * *",
	"readFrequency": {
		// Time between two read operations (ms), won't be used if scheduled
		"interval": 60000,
		// How many reading to do before inserting the average of them into DB
		"requiredOccurences": 5,
		// If false, would be interval-based, otherwise, you can specify a cron compatible syntax: "1 * * * *"
		"scheduled": false
	},
	"controllers": [
		{
			// Controller's name, to be printed inside reports
			"name": "DEMO",
			 // IP address to the ModBus controller
			"address": "127.0.0.1",
			// Port used (null for default)
			"port": "502",
			// Slave id, if unknown, set to 1
			"slaveId": 1,
			// List of registers to read from current controller
			"registers": [
				// Specify the address, and the type with length and signed or not (ex: INT16, UINT32, FLOAT32),
				//  the unit to store into DB and coefficient to apply before storage
				{"label": "Ia", "address": 154, "type": "INT16", "unit": "A", "coefficient": 1.0}
			]
		}	
	]
}