{
	"readInterval": 60000, // Time between two read operations (ms)
	"requiredOccurences": 5, // How many reading to do before inserting the average of them into DB
	"inMemoryDB": true, // Specify to save DB in memory
	"controllers": [ // List of controller to connect to
		{
			"name": "DEMO",
			"address": "127.0.0.1", // IP address to the ModBus controller
			"port": "502", // Port used (null for default)
			"slaveId": 1, // Slave id, if unknow, set to 1
			"registers": [ // List of registers to read from current controller (specify the type: INT16, UINT32, the unit to store into DB and coefficient to apply before storage)
				{"address": 154, "length": 32, "signed": false, "unit": "A", "coefficient": 0.1}
			]
		}	
	]
}
